* {
  font-family: "DejaVu Sans";
  font-size: 12px;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;

  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #b0b0b0;

  font-weight: bold;
  color: #252525;
}

main {
  padding: 0px 10px 10px 10px;
}

#title {
  font-weight: bold;
  color: #252525;
}

#mode-selection {
  -webkit-appearance: none; appearance: none;
  background-color: #f6f5f4;
  border: none;
  padding: 7px 10px 7px 10px;
  margin: 0px 30px 0px 30px;
  cursor: pointer;
}

#hashes-list {
  color: grey;
  font-size: smaller;
  max-width: 280px;
}

#toggle {
  display: flex;
  justify-content: center;
}

#toggle-button {
  -webkit-appearance: none; appearance: none;
  border: none;
  margin-top: 10px;
  padding: 7px 20px 7px 20px;

  color: white;
  background-color: #c50000; /*bf0000*/
  font-size: 13px;
}
#toggle-button:hover {
  background-color: #d50000; /*bf0000*/
  cursor: pointer;
}

.toggled {
  background-color: #620000 !important;
}
